//////
//
// Advanced Job Details (AJD) Template
//
// Documentation and intructions https://github.com/tmpworldwide/AJD-Template
//
//////


//
// Addtional SASS you may need to add to your theme
//

//
.wai {
    position: absolute !important;
    display: block !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
}
@mixin wai {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

// list reset remove bullts and spacing
%list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

// flexbox center
@mixin flexbox-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin flexbox-auto {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

// responsive videos and iframes
/////////////////////// may not need this test later
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img {
    max-width: 100%;
}

// Clear fix
@mixin clearfix {
    &:after, &:before {
        content: " ";
        display: table;
        clear: both;
        height: 0;
    }
}

// END Addtional SASS you may need to add to your theme

//
// AJD icons import
//

@import '../../3461/shared/scss/ajd-icons'; // required
// If working locally you will need a local version of this file which you can download from https://tbcdn.talentbrew.com/company/3461/shared/scss/_ajd-icons.scss


//
// AJD Variables
//

$qfacts-icon-color: #004E8A; // Blue
$benefits-icon-color:  #004E8A; // Blue
$back-to-ajd-nav-color: #fff; // White

// if using the traits circle
$trait-colors: '#4491c5', '#3e703c', '#7a1224', '#d79400', '#ce1510', '#551a8b'; // The ammount of colors should match the number of traits in your .traits_list

// END AJD Variables

//
// AJD animations
//

@keyframes popin {
    0% {
        display: block;
        transform: scale(0);
        transform-origin: center center;
    }
    100% {
        transform: scale(1);
        transform-origin: center center;
    }
}

// END AJD animations

//
// AJD General Styles
//

.back-to-ajd-nav__a {
    background: #666 no-repeat center center/25px;
		@include back-to-nav-arrow($back-to-ajd-nav-color);
    border-radius: 50%;
    bottom: -1em;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 50%;
    text-indent: -999em;
    width: 50px;
    z-index: 10;
    &:focus {
        background-color: rgba(102, 102, 102, 0.7);
        bottom: 1em;
        opacity: 1;
    }
}
.max-width-wrapper {
    // This class may need to be added or removed from elements in your
    // AJD in order to achive the desired look
    margin: auto;
    max-width: $max-width; // replace or edit with your styles
}


// General section styles
.ajd_section {
    margin-bottom: 50px; // spacing after each section
    &__heading { // .ajd_section__heading
        // Add styles that will affect the headlines of each section
        text-align: center;
    }
} // end General section styles

// common buttons

// Apply for this job buttons
.ajd_btn__apply {
  // Add your styles here
}

// Save job for later buttons
.ajd_btn__save {
  // Add your styles here
}

// Refer a friend button
.ajd_btn__referred {
  // Add your styles here
}

// end common buttons


// Header and In page navigation
.ajd_header {
    // This is the container of the entire part of the AJD that becomes sticky
    // in includes the in page navigation
    &.scroll-to-fixed-fixed {
        // Add styles here for when the header is sticky
        // If you uncomment the styles below you will ahev the sticky span across
        // the whole browser
        // width: 100% !important;
        // left: 0 !important
        background: #ccc; // replace or edit with your styles
    }

    &__content { //.ajd_header__content
        // includes heading and buttons
        display: table;
        width: 100%;
        padding: 10px; // adjust this to ajd_navigation__ul
    }

    &__job-heading { //.ajd_header__job-heading
        // includes the job title and the location
        width: 70%;
        padding-right: 5%;
        display: table-cell;
        vertical-align: middle;
    }

    &__job-title { // .ajd_header__job-title
        // add styles to adjust the job title
    }

    &__location { // .ajd_header__location
        // add styles to adjust the job loction which is right under the job title
        margin: 0;
    }

    &__job-buttons { // ..ajd_header__job-buttons
        // this container includes all buttons that can appear at the top
        // of the page toggled by the site admin. This includes the apply,
        // apply later and save job buttons
        width: 30%;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }
} // end Header


// in page navigation
.ajd_navigation {
    // this container is for all of the in page navigation
    .scroll-to-fixed-fixed & {
        // On small screen sizes the in page navigation will only be visable when
        // not scrolled down the page. When you scroll the in page navigation will
        // be hidden in order to save screen space
        display: none;
        @media screen and (min-width: 500px) and (min-height: 600px) {
            // These numbers must stay to match the script
            display: block;
        }
    }

    &__ul { // .ajd_navigation__ul
        @extend %list-reset;
        text-align: center;
        width: 100%;
        padding: 10px; // adjust this to .ajd_header__content
        @include breakpoint($mid-small) {
            // flexbox postions the links evenly and allows them to be
            // centered if they need to break to the next line
            @include flexbox-center;
        }
    }

    &__li { // .ajd_navigation__li
        @include breakpoint($mid-small) {
            @include flexbox-auto;
            &:not(:last-child) {
                padding-right: 10px;
            }
        }
    }

    &__a { // .ajd_navigation__a
        .active & {
            @media screen and (min-width: 500px) and (min-height: 600px) {
                // These numbers must stay to match the script
                // the inpage navigation does not scroll with you on mobile these
                // styles only need to be added on larger screen sizes
                background: yellow; // replace me with your styles
            }
        }
    }
} // end inpage navigation

// Header and In page navigation

// Overview
.ajd_overview {

    &__quick-fact { // .ajd_overview__quick-fact
        // Each qickfact inside of the the overview
        @include flexbox-center;
        @include flexbox-auto;
        margin-bottom: 10px;
        &:not(:last-child) {
            margin-right: 10px;
        }

        &s { // .ajd_overview__quick-facts
            // Parent of quick-fact
            @extend %list-reset;
            @include flexbox-center;
            @include flexbox-auto;
        }

        &-ico { //.ajd_overview__quick-fact-ico
            // Quick Fact icons
            width: 40px;
            height: 40px;
            margin-right: 10px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

    } // end quick-fact

} // end overview


// Quick Facts icons
.ico-travel {
	@include ico-travel($qfacts-icon-color);
}
.ico-level {
	@include ico-level($qfacts-icon-color);
}

.ico-salary {
	@include ico-salary($qfacts-icon-color);
}

.ico-time {
  @include ico-time($qfacts-icon-color);
}

// end Quick Facts icons


.ajd-glassdoor {

	&__link { // .ajd-glassdoor__link
		background-image: url('https://www.glassdoor.ca/api/widget/horizontalStarRating.htm?e=01'); // The last two numbers "01" should be updated with the company number
		// You can find the company number on the reviews page of the company for eexample TMP's url is https://www.glassdoor.com/Reviews/TMP-Worldwide-Reviews-E247764.htm
		// and the company number for TMP is 247764
		// In addtion to 'horizontalStarRating' you can change this to 'verticalStarRating'

		width: 290px;
		min-height: 32px;
		padding-top: 32px;
		background-size: contain;
		background-repeat: no-repeat;
		display: block;

	}

	&__text { // .ajd-glassdoor__text
		position: absolute;
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
	}

}// end ajd-glassdoor


// Sucess profile
.ajd_success-profile {
    &__intro { // .ajd_success-profile__intro
        margin: auto;
        max-width: $max-width * .8; // replace or edit with your styles
    }
}

// AJD Graph
.ajd_graph {
    margin: auto;
    max-width: $max-width * .5; // replace or edit with your styles
    &__main-skill { // .ajd_graph__main-skill
        // each li for graph
        position: relative;
        margin-top: 15px;

        &s { // .ajd_graph__main-skills
            // main ul for graph
            @extend %list-reset;
        }
    }

    &__label { // .ajd_graph__label
        // If you need to have the graph label inside the percent bar
        // left: 10px;
        // position: absolute;
        // z-index: 2;
    }

    &__percent { // .ajd_graph__percent
        display: block;
        text-align: right;
        transition: all 2s ease-in-out;
        background: grey; // replace or edit with your styles
        color: white; // replace or edit with your styles
        width: 0; // If Javascript is active then reset all percent widths in graph to zero

				.active &,
				.no-js & {
					// if js is working then an active state will apply when visually in the
					// viewport, when that happens the with will animate to this size
					// If you want to only active once change "active" to just "actived-once"
					// If JS is not loading then it will fall back to this width
					&.one {
						width: 10%;
					}

					&.two {
						width: 20%;
					}

					&.three {
						width: 30%;
					}

					&.four {
						width: 40%;
					}

					&.five {
						width: 50%;
					}

					&.six {
						width: 60%;
					}

					&.seven {
						width: 70%;
					}

					&.eight {
						width: 80%;
					}

					&.nine {
						width: 90%;
					}

					&.ten {
						width: 100%;
					}
				}

    }

    // Scale under graph
    &__scale { // .ajd_graph__scale
      // container for the 0 to 10 scale at the bottom of the graph
    }
    &__smallest { // .ajd_graph__smallest
      // Noramlly 0
    }
    &__largest { // .ajd_graph__largest
      // Noramlly 10
      float: right;
    }
    // End Scale under graph

    // Sub skills
    &__sub-skill { // .ajd_graph__sub-skill
        // each subskill li
        @include flexbox-auto;
        padding: 4px;
        margin-top: 15px;
        background: grey; // replace or edit with your styles
        color: white; // replace or edit with your styles
        &:not(:last-child) {
            margin-right: 10px;
        }

        &s { // .ajd_graph__sub-skills
            // parent of skills list under the graph
            @extend %list-reset;
            @include flexbox-center;
        }
    } // end sub sckills
} // end graph
// AJD Trait Cricle

.ajd-traits {
	text-align: center;

	&__list { // .ajd-traits__list
		list-style: none;
		margin: 20px auto;
		padding: 0;
		display: inline-block;
		text-align: left;
		max-width: 500px;
		@include flexbox-center;
		justify-content: flex-start;
		-webkit-align-items: start;
		-ms-flex-align: start;
		align-items: start;
	}

	&__item { // .ajd-traits__item
		margin: 0 0 10px 0;
		position: relative;
		padding: 0 10px 0 30px;
		flex: 0 0 calc(100% / 2);

		@include breakpoint($end-small) {
			flex: 0 0 calc(100% / 3);
		}

		// color of each dot that matches the fill in the circle
		@for $i from 1 through length($trait-colors) {
			 &:nth-child(#{$i})::before {
				 content: '';
				 border-radius: 100%;
				 position: absolute;
				 display: block;
				 vertical-align: middle;
				 background: #{nth($trait-colors, $i)};
				 width: 20px;
				 height: 20px;
				 top: 0;
				 left: 0;
			 }
		}

	}
	&__circle { // .ajd-traits__circle
	  width: 75vw;
	  height: 75vw;
	  max-width: 300px;
	  max-height: 300px;
	  border-radius: 100%;
	  overflow: hidden;
	  position: relative;
	  display: block;
	  background: transparent;
	  margin: 20px auto 0 auto;

	  &::before, &::after{
	    content: '';
	    display: block;
	    position: absolute;
	    border-radius: 100%;
	    z-index: 10;
	  }

		// Create the "cut out" in the circle turning it into a donut
		// increasing these numbers will make the cut out smaller, makin the sections wider.
	  &::before {
	    top: 15%;
	    bottom: 15%;
	    left: 15%;
	    right: 15%;
	    background: #fff;
	  }

		// Insert picture into cut out
		// These numbers should be larger or the same size as the ::before numbers so that the pitcure fits within the circle
	  &::after {
	    top: 16%;
	    bottom: 16%;
	    left: 16%;
	    right: 16%;
	    z-index: 11;
			background: url(https://picsum.photos/300/300?image=1) no-repeat center/cover; //  Replace the URL with your image
	  }
	}

	&__cir-section { // .ajd-traits__section
	    position:absolute;
	    width:50%;
	    height:100%;
	    overflow:hidden;
			pointer-events: none;
	    left:50%;
	    @include prefixed(transform-origin, left center);

	    &.big {
	      width:100%;
	      height:100%;
	      left:0%;
	      @include prefixed(transform-origin, center);
	    }
		}

		&__cir-fill { // .ajd-traits__cir-fill
				content:"";
				position:absolute;
				width:100%;
				height:100%;
				left:-100%;
				pointer-events: all;
				@include prefixed(transform-origin, right center);

				// Color of each fill
			  @for $i from 1 through length($trait-colors) {
		      .ajd-traits__cir-section:nth-of-type(#{$i}) & {
		        background: #{nth($trait-colors, $i)};
		      }
			 }

			.big & {
					left: 0;
					width: 50%;
				}
		}

		&__cir-text { // .ajd-traits__cir-text
		  position: absolute;
		  text-align: center;
		  left:50%;
		  top: 50%;
		  transform: translate(-50%,-50%);
		  z-index: 12;
		  margin: 0;
			font-size: 18px;
			font-weight: bold;
		}

		&__tooltip { // .ajd-traits__tooltip
			pointer-events: none;
			position: fixed;
			font-size: 18px;
			text-align: center;
			background: white;
			padding: 6px 15px;
			z-index: 555;
			line-height: 18px;
			margin: 0 auto;
			color: #21669e;
			border-radius: 5px;
			box-shadow: 0 0 1px 1px #ddd;
			transform: translate(-50%,-50%);
			display: none;
			&.active {
			  display: block;
			}
		  
		  
			&:after {
			  content: '';
			  position: absolute;
			  left: 50%;
			  top: 100%;
			  width: 0;
			  height: 0;
			  margin-left: -10px;
			  border-left: 10px solid transparent;
			  border-right: 10px solid transparent;
			  border-top: 10px solid white;
			}
			&:before {
				content: '';
				position: absolute;
				left: calc(50% - 7px);
				top: calc(100% - 8px);
				width: 14px;
				height: 14px;
				box-shadow: 2px 2px 1px 0px #ddd;
				transform: rotate(45deg);
			  }
		  }
		  
} // end .ajd-traits

// animation for both traits circle and list
@keyframes trait-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.js { // if JS is on
	.ajd-traits__cir-section, .ajd-traits__item {
		opacity: 0; // visually hide the circle sections and list items
	}

	.active { // if you want to have this animate only on initial scroll change .active to .actived-once

		.ajd-traits__cir-section, .ajd-traits__item {
       // Per ammount of colors in the $trait-colors variable animate in succession
		   @for $i from 1 through length($trait-colors) {
		     // Delay changes speed of animation, increase number devided by to increase the speed
		     $delay: $i / 4;
		      &:nth-of-type(#{$i}) {
		        animation: trait-fade 1s #{$delay}s forwards;
		      }
		    }
		}

	}
} // end // animation for both traits circle and list


// end likely items to be in sucess profile


// Quote
.ajd_quote {
    // entire quote section
    background: #ccc; // replace or edit with your styles
    padding: 30px 15px 15px 15px;

    &__blockquote { // .ajd_quote__blockquote
        text-align: center;
        margin: 0;
        padding: 0;
        .active & {
            // If you want to only active once change "active" to just "actived-once"
            -webkit-animation: popin 1s forwards;
            animation: popin 1s forwards;
        }
    }

    &__text { // .ajd_quote__text
      // the actual quote itself
        position: relative;
        display: inline-block;
        &:after, &:before {
            // quotation marks
            position: absolute;
            opacity: 0.3;
            font-size: 100px; // replace or edit with your styles
        }
        &:before {
            // left quotation
            content: "\201C" !important;
            margin: 15px 0 0 -40px; // replace or edit with your styles
        }
        &:after {
            // right quotation
            content: "\201D" !important;
            margin: 30px 0 0 10px; // replace or edit with your styles
        }
    }

    &__citation { // ..ajd_quote__citation
      // Normally whom the wuote is from
        text-align: right;
        width: 100%;
        display: block;
    }

} // end quote section

// Trending
.ajd_trending {

    &__ul { // .ajd_trending__ul
        @extend %list-reset;
        @include clearfix;
    }

	  &__li { // ..ajd_trending__li
        @include clearfix;
        @include breakpoint($end-small) {
            // break to two columns
            width: 48%;
            float: left;
            &:nth-child(odd) {
                margin-right: 2%;
                clear: left;
            }
        }
    }

	  &__a { // .ajd_trending__a
      // The hyperlink wraps the whole contents of the li
    }

	  &__img { // .ajd_trending__img
      // Trending image
        max-width: 100%;
        margin: auto;
        display: block;
        .ajd_trending__li--two-col & {
            // Special styles to create the image next to the content
            @include breakpoint($mid-small) {
                width: 30%;
                float: left;
            }
        }
    }

	  &__content { // .ajd_trending__content
      // wrapper next to the image
        .ajd_trending__li--two-col & {
            // Special styles to create the image next to the content
            @include breakpoint($mid-small) {
                width: 64%;
                float: right;
            }
        }
    }

	  &__content-heading { // .ajd_trending__heading
      // Headline of each trending article
        margin: 0 0 10px 0; // replace or edit with your styles
    }

	  &__text { // .ajd_trending__text
      // If you need spefifc stles to the text under the headline of each article
    }

	  &__btn { // .ajd_trending__btn
      // normally the read more or learn more link
        .ajd_trending__a:hover &,
        .ajd_trending__a:focus & {
            // Styles so that when the trending article has been hovered over the button can light up
            background: yellow; // replace or edit with your styles
        }

	  }
} // end trending section


// Featured image
.ajd_image {
	// Set image as a background image in HTML
	width: 100%;
	// Create the parallax scrolling effect
	// Set a specific height
	height: 150px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
// End Featured image


// Rewards layout
.ajd_rewards {

		&__ul { // .ajd_rewards__ul
        @extend %list-reset;
        width: 100%;
        @include flexbox-center;
    }

    &__li { // .ajd_rewards__li
        @include flexbox-auto;
        padding: 10px 20px;
        @include breakpoint($mid-small) {
          // breaks to two columns
            width: 50%;
        }
        @include breakpoint($end-small) {
          // breaks to three columns
            width: 33.33%;
        }
        &.actived-once {
            // If you want to active this ever time you change "actived-once" to just "active"
            -webkit-animation: popin 1s forwards;
            animation: popin 1s forwards;
        }
    }

    &__ico { // .ajd_rewards__ico
        width: 140px; // replace or edit with your styles
        height: 140px; // replace or edit with your styles
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
    }

} // end .ajd_rewards

// Benefits/Rewards icons

// You may wish to deleteor comment out any icons you are not using to save space in the compiled css
// If yo9u need to make a custom icon you can follow the directions found here: https://github.com/tmpworldwide/tb-ajd-template#add-unique-svg-images

.ico-401k {
	@include ico-401k($benefits-icon-color);
}

.ico-awards {
	@include ico-awards($benefits-icon-color);
}

.ico-adoption-cost-benefit {
	@include ico-adoption-cost-benefit($benefits-icon-color);
}

.ico-amenities {
	@include ico-amenities($benefits-icon-color);
}

.ico-balance {
	@include ico-balance($benefits-icon-color);
}

.ico-bars-no-arrow {
	@include ico-bars-no-arrow($benefits-icon-color);
}

.ico-bars-curved-arrow {
	@include ico-bars-curved-arrow($benefits-icon-color);
}

.ico-bars-straight-arrow {
	@include ico-bars-straight-arrow($benefits-icon-color);
}

.ico-cafeteria {
	@include ico-cafeteria($benefits-icon-color);
}

.ico-child-care-subsidy {
	@include ico-child-care-subsidy($benefits-icon-color);
}

.ico-collaboration {
	@include ico-collaboration($benefits-icon-color);
}

.ico-company-store {
	@include ico-company-store($benefits-icon-color);
}

.ico-compensation {
	@include ico-compensation($benefits-icon-color);
}

.ico-continuing-education {
	@include ico-continuing-education($benefits-icon-color);
}

.ico-dental {
	@include ico-dental($benefits-icon-color);
}

.ico-dependent-care-fsa {
	@include ico-dependent-care-fsa($benefits-icon-color);
}

.ico-flex-time {
	@include ico-flex-time($benefits-icon-color);
}

.ico-freedom {
	@include ico-freedom($benefits-icon-color);
}

.ico-gavel {
	@include ico-gavel($benefits-icon-color);
}

.ico-hands-on-heart {
	@include ico-hands-on-heart($benefits-icon-color);
}

.ico-healthcare-fsa {
	@include ico-healthcare-fsa($benefits-icon-color);
}

.ico-healthcare {
	@include ico-healthcare($benefits-icon-color);
}

.ico-international-travel {
	@include ico-international-travel($benefits-icon-color);
}

.ico-k9 {
	@include ico-k9($benefits-icon-color);
}

.ico-life-and-disability-insurance {
	@include ico-life-and-disability-insurance($benefits-icon-color);
}

.ico-location {
	@include ico-location($benefits-icon-color);
}

.ico-mac-monitor {
	@include ico-mac-monitor($benefits-icon-color);
}

.ico-managment {
	@include ico-managment($benefits-icon-color);
}

.ico-maternity-and-paternity-leave {
	@include ico-maternity-and-paternity-leave($benefits-icon-color);
}

.ico-medical {
	@include ico-medical($benefits-icon-color);
}

.ico-moneybag {
	@include ico-moneybag($benefits-icon-color);
}

.ico-no-smoking {
	@include ico-no-smoking($benefits-icon-color);
}

.ico-nursing-mother-rooms {
	@include ico-nursing-mother-rooms($benefits-icon-color);
}

.ico-onsite-child-care {
	@include ico-onsite-child-care($benefits-icon-color);
}

.ico-onsite-gym {
	@include ico-onsite-gym($benefits-icon-color);
}

.ico-onsite-post-office {
	@include ico-onsite-post-office($benefits-icon-color);
}

.ico-onsite-salon {
	@include ico-onsite-salon($benefits-icon-color);
}

.ico-paid-vacation-time {
	@include ico-paid-vacation-time($benefits-icon-color);
}

.ico-price-tag {
	@include ico-price-tag($benefits-icon-color);
}

.ico-pto {
	@include ico-pto($benefits-icon-color);
}

.ico-raised-hands {
	@include ico-raised-hands($benefits-icon-color);
}

.ico-relocation-reimbursement {
	@include ico-relocation-reimbursement($benefits-icon-color);
}

.ico-star {
	@include ico-star($benefits-icon-color);
}

.ico-suitcase {
	@include ico-suitcase($benefits-icon-color);
}

.ico-team-outings {
	@include ico-team-outings($benefits-icon-color);
}

.ico-tutition-reimbursment {
	@include ico-tutition-reimbursment($benefits-icon-color);
}

.ico-variety {
	@include ico-variety($benefits-icon-color);
}

.ico-vision {
	@include ico-vision($benefits-icon-color);
}

.ico-wallet {
	@include ico-wallet($benefits-icon-color);
}

.ico-wellness-programs {
	@include ico-wellness-programs($benefits-icon-color);
}
// end Benefits icons

// end rewards layout


// ATS Job Description
.ajd_job-details {
    // Responsiblities section
    &__ats-description { // .ajd_job-details__ats-description
        // by default there is already styles that hit .ats-description
        // this is just another way to target that section but only for AJD pages
    }
}


// END  Advanced Job Details (AJD) Template
