@mixin breakpoint($width){


	@media screen and (min-width: $width){

		@content;

	}

}

// =================================================================
// Functions
// =================================================================

// changes svg color to one compatible with data uri format

@function svg-color-replace($string, $search: '#', $replace: '%23') {

	$index: str-index($string, $search);

	@if $index {

		@return str-slice($string, 1, $index - 1) + $replace + svg-color-replace(str-slice($string, $index + str-length($search)), $search, $replace);

	}

	@return $string;

}

// ===============================================
// Mixins
// ===============================================

@mixin background-square($custom-color: #000) {

	$icon-color: svg-color-replace("#{$custom-color}"); //this function changes the color to svg compatible format

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192.23 192.23'%3E%3Cpath fill='#{$icon-color}' d='M48.294 144.176v-95.85h95.871v95.85H48.294z'/%3E%3C/svg%3E");

}

@mixin background-circle($custom-color: #000) {

	$icon-color: svg-color-replace("#{$custom-color}"); //this function changes the color to svg compatible format

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 5'%3E %3Ccircle fill='#{$icon-color}' cx='2.5' cy='2.5' r='1.25'/%3E %3C/svg%3E");

}

@mixin icon-arrow($custom-color: #000, $background-color: #2a4f81) {

	$icon-color: svg-color-replace("#{$custom-color}"); //this function changes the color to svg compatible format

	background: $background-color url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 219.03 375.053'%3E%3Cpath fill='#{$icon-color}' d='M154.404 188.141c-2.13-1.744-3.383-2.604-4.438-3.66C104.262 138.783 58.56 93.083 12.9 47.341 1.368 35.788 2.139 18.604 14.492 8.378 23.138 1.221 35.855.604 45.211 7.031c2.146 1.475 4.109 3.271 5.958 5.118a362640.394 362640.394 0 0 1 155.664 155.67c12.799 12.806 12.784 27.635-.069 40.494-52.14 52.163-104.306 104.297-156.449 156.457-8.083 8.085-17.623 11.053-28.426 7.018-10.222-3.818-16.149-11.576-17.028-22.616-.654-8.223 2.515-15.078 8.328-20.869 16.826-16.764 33.585-33.594 50.375-50.394 29.163-29.179 58.325-58.357 87.51-87.515.698-.696 1.655-1.134 3.33-2.253z'/%3E%3C/svg%3E");

}

// ===============================================
// Extends
// ===============================================

%branch {
background-position: left center;
background-size: 5px 5px;
height: 3px;
@include background-square;
}

%centered-verticle {
left: 50%;
position: absolute;
transform: translateX(-50%);
}

.section {
border: 1px #ccc solid;
border-radius: 10px;
padding: 1em;
}

.career-path {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
list-style: none;
margin: 0 auto;
max-width: 800px;
padding: 0;
text-align: center;
width: 100%;

	&__heading {
	background-color: #fff;
	display: block;
	margin: 16px auto;
	max-width: 95%;
	padding-bottom: 8px;
	padding-top: 30px;
	position: relative;

		&:before {
		content: '';
		@include icon-arrow(#fff);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 40%;
		border-radius: 50%;
		display: block;
		height: 20px;
		left: 50%;
		position: absolute;
		top: 5px;
		transform: translateX(-50%) rotate(90deg);
		width: 20px;
		}

	}

	&__row {
	width: 100%;
	}

	&__link {
	color: #000;
	}

}

.begin-path {

	&.tree-leaf__twigs:before, .career-path__heading:before {
	display: none;
	}

	.career-path__heading {
	padding: 8px 0;
	}

}

.end-path {

	&.tree-leaf__twigs:after, .career-path__heading:after {
	display: none;
	}

}

.hide-border {
opacity: 0;
}

// =============================
// Branches and Leaves layouts
// =============================

// TREE BRANCHES ONLY !!!!!!!

.tree-branch {

	&__one {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: 100%;
		@extend %branch;
		}
	
	}

	&__two {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: 50%;
		@extend %branch;
		}

	}

	&__three {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: calc(100% / 3);
		@extend %branch;
		}

	}

	&__four {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: 25%;
		@extend %branch;
		}

	}

	&__five {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: 20%;
		@extend %branch;
		}

	}

	&__six {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: calc(100% / 6);
		@extend %branch;
		}

	}

	&__seven {
	display: flex;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: calc(100% / 7);
		}

	}

	&__ten {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: calc(100% * (2/3));

		> * {
		width: 10%;
		@extend %branch;
		}

	}

}

.custom-size {
width: 80%;
}

// Tree LEAVES!!!!

.tree-leaf {

	&__twigs {
	min-height: 57px;
	position: relative;

		&:after, &:before {
		content: '';
		@extend %branch;
		@extend %centered-verticle;
		display: block;
		height: 51%;
		width: 3px;
		z-index: -1;
		}

		&:before {
		top: -3px;
		background-position: center top;
		}

		&:after {
		bottom: 0px;
		background-position: center bottom;
		}

	}

	&__one {
	display: flex;
	justify-content: space-around;
	width: 100%;

		> * {
		width: 100%;
		}

	}

	&__two {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% * (2/3));
	margin: 0 auto;

		> * {
		width: 50%;
		}

	}

	&__three {
	display: flex;
	justify-content: center;
	width: 100%;

		> * {
		width: calc(100% / 3);
		}

	}

	&__four {
	display: flex;
	justify-content: center;
	width: 100%;

		> * {
		width: 25%;
		}

	}

	&__five {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;

		> * {
		width: 20%;
		}

	}

}

.wai, .visually-hidden {
clip: rect(0 0 0 0); 
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap; 
width: 1px;
}
