@using Tmp.TalentBrew.Core
@using Tmp.TalentBrew.Core.HtmlHelpers
@using Tmp.TalentBrew.Model
@model PublishedJobDetailsModuleModel

@*<!--RAZOR CODE FOR ALL AJD MODULES-->*@
@*<!--==============================================-->*@
@{
    @*<!--This pulls in the ajdType that was mapped on the page level of the AJD-->*@
    var ajdType = Html.ViewContext.ParentActionViewContext.ViewBag.ajdType == null ? "" : Html.ViewContext.ParentActionViewContext.ViewBag.ajdType.ToString();
    
    @*<!--This pulls in the page name if you need to reuse this module on a content page -->*@
    var pageName = (Model != null && Model.Page != null && Model.Page.ThemePage != null && !String.IsNullOrEmpty(Model.Page.ThemePage.Name)) ? Html.Tokenize((string)Model.Page.ThemePage.Name) : "";
}


@*<!--RAZOR CODE FOR THIS MODULE-->*@
@*<!--==============================================-->*@
@{
    var cat = CoreHelper.GetTokenValue(Tmp.TalentBrew.Model.TokenType.Category);
}

@helper ApplyButton(string position) {
    var buttonText = Model.PageTypeId == PageType.QuickApply ? Model.QuickApplyButtonText : Model.ApplyButtonText;
    
    if(Model.ShowApplyAndQuickApply && Model.PageTypeId == PageType.QuickApply) {
        <a class="ajd_btn__apply button job-apply @position" @Html.JobDetailIncludeApplyUrlAttributes(Model)>@Model.ApplyButtonText</a> 
	}
	
	<a class="ajd_btn__apply button job-apply @position" @Html.JobDetailsApplyUrlAttributes(Model)>@buttonText</a>
}

@helper ApplyLaterButton(string position) {
	<a class="ajd_btn__apply button job-apply job-apply-later @position" @Html.JobDetailsApplyLaterUrlAttributes(Model)>@Model.ApplyLaterText</a>
}

@if (Model != null) {
    <section id="anchor-responsibilities" class="ajd_section ajd_job-details job-description" @Html.CustomSelector(Model) @Html.JobDetailsSectionAttributes(Model)>
        <h2 class="ajd_section__heading ajd_job-details__heading">Responsibilities</h2>

        <div class="ats-description ajd_job-details__ats-description">
            @if (Model.JobDetailsJobTypeId != JobDetailsIdType.None) {
                <span class="job-id job-info"><b>@Model.JobDetailsJobLabelId</b> @Model.JobDetailsSelectedId</span>
            }

            @if (Model.JobDetailsJobDateFormat != JobDateFormat.NoDate) {
                <span class="job-date job-info"><b>@Model.JobDetailsJobDatePosting</b> @Model.JobDetailsSelectedDate.ToLocalTime().ToString(Model.DisplayJobDateFormat)</span>
            }

            @Html.Raw(Model.JobDescription)
        </div>

        @if (Model.JobDetailsAlign != JobDetailsAlignType.Above) {
            @ApplyButton("bottom")
        }

        @if (Model.ShowApplyLater && Model.ApplyLaterAlign != JobDetailsAlignType.Above) {
            @ApplyLaterButton("bottom")
        }

        @if (Model.CanShowReferrerPage) {
            <a class="ajd_btn__referred button job-apply job-get-referred" @Html.JobDetailsReferrerUrlAttributes(Model)>@Model.ReferrerPageButtonText</a>
        }
    </section>
}