@using Tmp.TalentBrew.Core
@using Tmp.TalentBrew.Core.HtmlHelpers
@using Tmp.TalentBrew.Model
@model PublishedJobDetailsModuleModel

@*<!--RAZOR CODE FOR ALL AJD MODULES-->*@
@*<!--==============================================-->*@
@{
    @*<!--This pulls in the ajdType that was mapped on the page level of the AJD-->*@
    var ajdType = Html.ViewContext.ParentActionViewContext.ViewBag.ajdType == null ? "" : Html.ViewContext.ParentActionViewContext.ViewBag.ajdType.ToString();
    
    @*<!--This pulls in the page name if you need to reuse this module on a content page -->*@
    var pageName = (Model != null && Model.Page != null && Model.Page.ThemePage != null && !String.IsNullOrEmpty(Model.Page.ThemePage.Name)) ? Html.Tokenize((string)Model.Page.ThemePage.Name) : "";
}


@*<!--RAZOR CODE FOR THIS MODULE-->*@
@*<!--==============================================-->*@
@{
    var cat = CoreHelper.GetTokenValue(Tmp.TalentBrew.Model.TokenType.Category);

    @*<!--Set to false to hide entire module-->*@
    bool showSection = true;
    
    @*<!-- Navigation links LEAVE EMPTY-->*@
    string[,] navLinkArr = new string[,] {};
}


@*<!-- Change content based on filters -->*@
@*<!------------------------------------->*@
@if( ajdType == "ajdAccountServices" ) {
    
    @*<!--"Link Text" , "Section ID"-->*@
    @*<!--Make sure your section has the correct ID to anchor to-->*@
    navLinkArr  = new string[,] {
        { "Overview", "anchor-overview" },
        { "Success Profile", "anchor-success-profile" },
        { "Career Path", "anchor-career-path" },
        { "Trending", "anchor-trending" },
        { "Rewards", "anchor-rewards" },
        { "Responsibilities", "anchor-responsibilities" }
    };

    

} else {

    showSection = false;

}

@helper ApplyButton(string position) {
    var buttonText = Model.PageTypeId == PageType.QuickApply ? Model.QuickApplyButtonText : Model.ApplyButtonText;
    
    if(Model.ShowApplyAndQuickApply && Model.PageTypeId == PageType.QuickApply) {
        <a class="ajd_btn__apply button job-apply @position" @Html.JobDetailIncludeApplyUrlAttributes(Model)>@Model.ApplyButtonText</a> 
	}
	
	<a class="ajd_btn__apply button job-apply @position" @Html.JobDetailsApplyUrlAttributes(Model)>@buttonText</a>
}

@helper ApplyLaterButton(string position) {
	<a class="ajd_btn__apply button job-apply job-apply-later @position" @Html.JobDetailsApplyLaterUrlAttributes(Model)>@Model.ApplyLaterText</a>
}

@if (Model != null) {
    <section id="ajd-header" class="ajd_header js-ajd-sticky" @Html.CustomSelector(Model) @Html.JobDetailsSectionAttributes(Model)>
        <div class="max-width-wrapper">
            <div class="ajd_header__content">
                <div class="ajd_header__job-heading">
                    <h1 class="ajd_header__job-title">@Model.JobTitle</h1>
                    
                    <p class="ajd_header__location">@Html.JobFormattedLocation(Model.Job.Locations, ";", "[[CITY_NAME]], [[STATE_NAME]]", "[[CITY_NAME]], [[COUNTRY_NAME]]")</p>
                </div>
    
                <div class="ajd_header__job-buttons">
                    @if (Model.JobDetailsAlign != JobDetailsAlignType.Below) {
                        @ApplyButton("top")
                    }
                    
                    @if (Model.ShowApplyLater && Model.ApplyLaterAlign != JobDetailsAlignType.Below) {
                        @ApplyLaterButton("top")
                    }
                    
                    @if (Model.ShowSavedJobsIcon == true)  { 
                        <button class="js-save-job-btn ajd_btn__save" data-job-id="@Model.JobModel.Id.ToString()" data-org-id="@Model.JobModel.OrganizationId.ToString()">@Model.IconLabel</button>
                    }   
                </div>
            </div>
        </div>
    
        @if(showSection){
        <nav class="ajd_navigation" aria-label="Page">
            <ul class="ajd_navigation__ul max-width-wrapper">
                @if (navLinkArr.GetLength(0) > 0 ){
                    for (int i = 0; i < navLinkArr.GetLength(0); i++) {
                        <li class="ajd_navigation__li"><a href="#@Html.Raw(navLinkArr[i,1].Replace("&", "").Replace(" ", "-").Replace("--", "-").ToLower())" class="ajd_navigation__a">@Html.Raw(navLinkArr[i,0])</a></li>
                    }
                }
            </ul>
        </nav>
        }
    </section>

    
    using (var context = Html.BeginScriptContext()) {
        context.AddScriptFile(Url.CdnUrl(Constants.JobDetailsJavascript, "TBCDN"));

        @*<!--THE FOLLOWING SCRIPTS GET ADDED TO THE BOTTOM OF THE PAGE-->*@
        Html.AddScriptBlock(
        @<script>
            // adds a return-to-nav anchor to each section
            $('.ajd_navigation__a').each(function() {

                // hash MUST match ID of anchor section
                if($(this.hash).length && $(this.hash).find('.back-to-ajd-nav').length <= 0){
                    // set ID to nav anchor
                    this.id = 'nav-' + this.hash.substr(1);

                    // create anchor wrapper
                    var returnAnchorWrapper = document.createElement('DIV');
                    returnAnchorWrapper.className += 'back-to-ajd-nav';
                    
                    // create anchor
                    var returnAnchor = document.createElement('A');
                    returnAnchor.className += 'back-to-ajd-nav__a';
                    returnAnchor.href = '#' + this.id;
                    returnAnchor.textContent = 'Back to navigation (' + this.textContent + ')';
                
                    // append anchor to anchor wrapper
                    returnAnchorWrapper.appendChild(returnAnchor);

                    // append wrapper to DOM
                    document.getElementById(this.hash.substr(1)).appendChild(returnAnchorWrapper);
                } else {
                    // removing navigation link if the anchor section doesn't exist
                    $(this).parent().remove()
                }
            })
        </script>
        );
    }
}
