/* =================================================================
default ui components - expandable lists
================================================================= */
[data-expandable="true"] {
	list-style: none;
	padding: 0;
		ul {
			height: auto;
			overflow: hidden;
		}
	a {
		display: block;
	}
	.expandable-parent, .expandable-filter-parent {
		@include breakpoint($mid_small) {
			&:before {
				top: .4em;
			}
		}
	}
	.js & {
		ul {
			display: none;
			&.expandable-childlist-open {
				position: static;
			}
		}
	}
}

/* =================================================================
accessibility helper classes
================================================================= */
.access-link {
	@extend %wai;
}

.wai {
	@extend %wai;
}
