// =================================================================
//
// Advanced Job Details (AJD) Template
//
// Documentation and intructions https://github.com/radancyco/tb-ajd-template
//
// =================================================================




// AJD icons import
// ==========================

// US SERVER
@import '../../3461/shared/scss/ajd-icons'; // required

// EU SERVER
@import '../../1327/shared/scss/ajd-icons';


// ===========================================
// Variables
// ===========================================


// breakpoints
$mid-small: 550px;
$end-small: 800px;
$max-width: 1000px;



// wrapper widths
$default-size: 1000px;



// AJD Variables
// ==========================

$qfacts-icon-color: #004E8A; // Blue
$benefits-icon-color:  #004E8A; // Blue


// ===========================================
// Mixins
// ===========================================

@mixin breakpoint($width) {
    @media screen and (min-width: $width) {
        @content
    }
}

@mixin wai {
	border: 0 !important;
	border-color: transparent !important;
	background: transparent !important;
	position: absolute !important;
    height: 1px !important;
    width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
    overflow: hidden !important;
	clip-path: inset(50%) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    white-space: nowrap !important;
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flexbox-center {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin flexbox-auto {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@mixin clearfix {
    &:after, &:before {
        content: " ";
        display: table;
        clear: both;
        height: 0;
    }
}



// ===========================================
// CUSTOM SVG Mixins
// ===========================================


// Quick Facts icons
.ico-travel {
	@include ico-travel($qfacts-icon-color);
}

.ico-level {
	@include ico-level($qfacts-icon-color);
}

.ico-salary {
	@include ico-salary($qfacts-icon-color);
}

.ico-time {
    @include ico-time($qfacts-icon-color);
}



// Benefits/Rewards icons

// You may wish to delete or comment out any icons you are not using to save space in the compiled css
// If you need to make a custom icon you can follow the directions found here: https://github.com/tmpworldwide/tb-ajd-template#add-unique-svg-images

.ico-401k {
	@include ico-401k($benefits-icon-color);
}

.ico-401k-euro {
	@include ico-401k-euro($benefits-icon-color);
}

.ico-401k-pound {
	@include ico-401k-pound($benefits-icon-color);
}

.ico-awards {
	@include ico-awards($benefits-icon-color);
}

.ico-adoption-cost-benefit {
	@include ico-adoption-cost-benefit($benefits-icon-color);
}

.ico-amenities {
	@include ico-amenities($benefits-icon-color);
}

.ico-attract-salary {
	@include ico-attract-salary($benefits-icon-color);
}

.ico-balance {
	@include ico-balance($benefits-icon-color);
}

.ico-bars-no-arrow {
	@include ico-bars-no-arrow($benefits-icon-color);
}

.ico-bars-curved-arrow {
	@include ico-bars-curved-arrow($benefits-icon-color);
}

.ico-bars-straight-arrow {
	@include ico-bars-straight-arrow($benefits-icon-color);
}

.ico-bonus-scheme {
	@include ico-bonus-scheme($benefits-icon-color);
}

.ico-cafeteria {
	@include ico-cafeteria($benefits-icon-color);
}

.ico-child-care-subsidy {
	@include ico-child-care-subsidy($benefits-icon-color);
}

.ico-collaboration {
	@include ico-collaboration($benefits-icon-color);
}

.ico-company-store {
	@include ico-company-store($benefits-icon-color);
}

.ico-compensation {
	@include ico-compensation($benefits-icon-color);
}

.ico-compensation-euro {
	@include ico-compensation-euro($benefits-icon-color);
}

.ico-compensation-pound {
	@include ico-compensation-pound($benefits-icon-color);
}

.ico-continuing-education {
	@include ico-continuing-education($benefits-icon-color);
}

.ico-dental {
	@include ico-dental($benefits-icon-color);
}

.ico-dependent-care-fsa {
	@include ico-dependent-care-fsa($benefits-icon-color);
}

.ico-dollar {
	@include ico-dollar($benefits-icon-color);
}

.ico-dollar-thin {
	@include ico-dollar-thin($benefits-icon-color);
}

.ico-euro {
	@include ico-euro($benefits-icon-color);
}

.ico-euro-thin {
	@include ico-euro-thin($benefits-icon-color);
}

.ico-extra-pay {
	@include ico-extra-pay($benefits-icon-color);
}

.ico-flex-time {
	@include ico-flex-time($benefits-icon-color);
}

.ico-freedom {
	@include ico-freedom($benefits-icon-color);
}

.ico-gavel {
	@include ico-gavel($benefits-icon-color);
}

.ico-hands-on-heart {
	@include ico-hands-on-heart($benefits-icon-color);
}

.ico-healthcare-fsa {
	@include ico-healthcare-fsa($benefits-icon-color);
}

.ico-healthcare {
	@include ico-healthcare($benefits-icon-color);
}

.ico-holiday-pay {
	@include ico-holiday-pay($benefits-icon-color);
}

.ico-international-travel {
	@include ico-international-travel($benefits-icon-color);
}

.ico-k9 {
	@include ico-k9($benefits-icon-color);
}

.ico-life-and-disability-insurance {
	@include ico-life-and-disability-insurance($benefits-icon-color);
}

.ico-location {
	@include ico-location($benefits-icon-color);
}

.ico-mac-monitor {
	@include ico-mac-monitor($benefits-icon-color);
}

.ico-managment {
	@include ico-managment($benefits-icon-color);
}

.ico-maternity-and-paternity-leave {
	@include ico-maternity-and-paternity-leave($benefits-icon-color);
}

.ico-medical {
	@include ico-medical($benefits-icon-color);
}

.ico-mentoring {
	@include ico-mentoring($benefits-icon-color);
}

.ico-moneybag {
	@include ico-moneybag($benefits-icon-color);
}

.ico-moneybag-euro {
	@include ico-moneybag-euro($benefits-icon-color);
}

.ico-moneybag-pound {
	@include ico-moneybag-pound($benefits-icon-color);
}

.ico-no-smoking {
	@include ico-no-smoking($benefits-icon-color);
}

.ico-nursing-mother-rooms {
	@include ico-nursing-mother-rooms($benefits-icon-color);
}

.ico-onsite-child-care {
	@include ico-onsite-child-care($benefits-icon-color);
}

.ico-onsite-gym {
	@include ico-onsite-gym($benefits-icon-color);
}

.ico-onsite-post-office {
	@include ico-onsite-post-office($benefits-icon-color);
}

.ico-onsite-salon {
	@include ico-onsite-salon($benefits-icon-color);
}

.ico-paid-vacation-time {
	@include ico-paid-vacation-time($benefits-icon-color);
}

.ico-pound {
	@include ico-pound($benefits-icon-color);
}

.ico-pound-thin {
	@include ico-pound-thin($benefits-icon-color);
}

.ico-parking {
	@include ico-parking($benefits-icon-color);
}

.ico-permanent-employment {
	@include ico-permanent-employment($benefits-icon-color);
}

.ico-piggy-bank {
	@include ico-piggy-bank($benefits-icon-color);
}

.ico-price-tag {
	@include ico-price-tag($benefits-icon-color);
}

.ico-price-tag-euro {
	@include ico-price-tag-euro($benefits-icon-color);
}

.ico-price-tag-pound {
	@include ico-price-tag-pound($benefits-icon-color);
}

.ico-pto {
	@include ico-pto($benefits-icon-color);
}

.ico-raised-hands {
	@include ico-raised-hands($benefits-icon-color);
}

.ico-relocation-reimbursement {
	@include ico-relocation-reimbursement($benefits-icon-color);
}

.ico-star {
	@include ico-star($benefits-icon-color);
}

.ico-suitcase {
	@include ico-suitcase($benefits-icon-color);
}

.ico-team-outings {
	@include ico-team-outings($benefits-icon-color);
}

.ico-transportation-reimbursement {
	@include ico-transportation-reimbursement($benefits-icon-color);
}

.ico-tutition-reimbursment {
	@include ico-tutition-reimbursment($benefits-icon-color);
}

.ico-tutition-reimbursment-euro {
	@include ico-tutition-reimbursment-euro($benefits-icon-color);
}

.ico-tutition-reimbursment-pound {
	@include ico-tutition-reimbursment-pound($benefits-icon-color);
}

.ico-variety {
	@include ico-variety($benefits-icon-color);
}

.ico-vision {
	@include ico-vision($benefits-icon-color);
}

.ico-wallet {
	@include ico-wallet($benefits-icon-color);
}

.ico-wellness-programs {
	@include ico-wellness-programs($benefits-icon-color);
}

.ico-work-from-home {
	@include ico-work-from-home($benefits-icon-color);
}


// ===========================================
// Extends
// ===========================================

// list reset remove bullts and spacing
%list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


// ===========================================
// CSS Animations
// ===========================================

@keyframes popin {
    0% {
        display: block;
        transform: scale(0);
        transform-origin: center center;
    }
    100% {
        transform: scale(1);
        transform-origin: center center;
    }
}


// Animate Career Path

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


// ===========================================
// General Classes
// ===========================================

.wai {
	border: 0 !important;
	border-color: transparent !important;
	background: transparent !important;
	position: absolute !important;
    height: 1px !important;
    width: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
    overflow: hidden !important;
	clip-path: inset(50%) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    white-space: nowrap !important;
}

// responsive videos and iframes
/////////////////////// may not need this test later
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// this style may conflict with other global styles. feel free to remove it.
img {
    max-width: 100%;
}

.back-to-ajd-nav {
    &__a {
        background: #666 no-repeat center center/25px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.26 10.239'%3E %3Cpath fill='none' stroke='#{svg-color-replace("#fff")}' stroke-linecap='round' stroke-linejoin='round' d='M.67 9.66l9.5-9 9.5 9'/%3E %3C/svg%3E");
        border-radius: 50%;
        bottom: -1em;
        display: block;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        right: 50%;
        text-indent: -999em;
        width: 50px;
        z-index: 10;

        &:focus {
            background-color: rgba(102, 102, 102, 0.7);
            bottom: 1em;
            opacity: 1;
        }
    }
}

.max-width-wrapper {
    // This class may need to be added or removed from elements in your
    // AJD in order to achive the desired look
    margin: auto;
    max-width: $default-size; // replace or edit with your styles
}



.ajd_section {
    margin-bottom: 50px; // spacing after each section
    &__heading { // .ajd_section__heading
        // Add styles that will affect the headlines of each section
        text-align: center;
        color: #035A8F;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 16px;
    }
}



// Apply for this job buttons
.ajd_btn__apply {
    // Add your styles here
}

// Save job for later buttons
.ajd_btn__save {
    // Add your styles here
}

// Refer a friend button
.ajd_btn__referred {
    // Add your styles here
}









// ===========================================
// Header and In page navigation
// ===========================================

.ajd_header {
    // This is the container of the entire part of the AJD that becomes sticky
    // in includes the in page navigation
    &.scroll-to-fixed-fixed {
        // Add styles here for when the header is sticky
        // If you uncomment the styles below you will ahev the sticky span across
        // the whole browser
        // width: 100vw !important;
        // left: 0 !important
        box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
        background-color: #ccc; // replace or edit with your styles
    }

    &__content { //.ajd_header__content
        // includes heading and buttons
        display: table;
        width: 100%;
        padding: 10px;
    }

    &__job-heading { //.ajd_header__job-heading
        // includes the job title and the location
        width: 70%;
        padding-right: 5%;
        display: table-cell;
        vertical-align: middle;
    }

    &__job-title { // .ajd_header__job-title
        // add styles to adjust the job title
    }

    &__location { // .ajd_header__location
        // add styles to adjust the job loction which is right under the job title
        margin: 0;
    }

    &__job-buttons { // ..ajd_header__job-buttons
        // this container includes all buttons that can appear at the top
        // of the page toggled by the site admin. This includes the apply,
        // apply later and save job buttons
        width: 30%;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }
}


// in page navigation
// =================================
.ajd_navigation {
    // this container is for all of the in page navigation
    .scroll-to-fixed-fixed & {
        // On small screen sizes the in page navigation will only be visable when
        // not scrolled down the page. When you scroll the in page navigation will
        // be hidden in order to save screen space
        display: none;

        @media screen and (min-width: 500px) and (min-height: 600px) {
            // These numbers must stay to match the script
            display: block;
        }
    }

    &__ul { // .ajd_navigation__ul
        @extend %list-reset;
        text-align: center;
        width: 100%;
        padding: 10px; // adjust this to .ajd_header__content

        @include breakpoint($mid-small) {
            // flexbox postions the links evenly and allows them to be
            // centered if they need to break to the next line
            @include flexbox;
            @include flexbox-center;
        }
    }

    &__li { // .ajd_navigation__li
        @include breakpoint($mid-small) {
            @include flexbox-auto;
            &:not(:last-child) {
                padding-right: 10px;
            }
        }
    }

    &__a { // .ajd_navigation__a
        color: #035A8F;
        text-decoration: none;

        &:hover, &:focus {
            color: #333;
            text-decoration: underline;
        }

        .active & {
            @media screen and (min-width: 500px) and (min-height: 600px) {
                // These numbers must stay to match the script
                // the inpage navigation does not scroll with you on mobile these
                // styles only need to be added on larger screen sizes
                background: yellow; // replace me with your styles
            }
        }
    }
}








// ===========================================
// Overview
// ===========================================

.ajd_overview {

    &__quick-facts { // .ajd_overview__quick-facts
        // Parent of quick-fact
        @extend %list-reset;
        @include flexbox;
        @include flexbox-center;
        @include flexbox-auto;
    }

    &__quick-fact { // .ajd_overview__quick-fact
        // Each quickfact inside of the the overview
        @include flexbox;
        @include flexbox-center;
        @include flexbox-auto;
        margin-bottom: 10px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__quick-fact-ico { //.ajd_overview__quick-fact-ico
        // Quick Fact icons
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// Glassdoor
// ========================

.ajd-glassdoor {

    &__icon { //.ajd-glassdoor__icon
		width: 100%;
		max-width: 300px;
		display: block;
    }

	&__link { // .ajd-glassdoor__link
		display: block;
	}

	.error {
	    background-color: red;
	    color: #fff;

	    * {
	        color: inherit;
	    }
	}
}








// ===========================================
// Success profile
// ===========================================

.ajd_success-profile {
    &__intro { // .ajd_success-profile__intro
        margin: auto;
        max-width: $default-size * .8; // replace or edit with your styles
    }
}







// ===========================================
// AJD Graph
// ===========================================

.ajd_graph {
    margin: auto;
    max-width: $default-size * .5; // replace or edit with your styles

    &__main-skils { // .ajd_graph__main-skills
        // main ul for graph
        @extend %list-reset;
    }

    &__main-skill { // .ajd_graph__main-skill
        // each li for graph
        position: relative;
        margin-top: 15px;
    }

    &__label { // .ajd_graph__label
        // If you need to have the graph label inside the percent bar
        // left: 10px;
        // position: absolute;
        // z-index: 2;
    }

    &__percent { // .ajd_graph__percent
        display: block;
        text-align: right;
        transition: all 2s ease-in-out;
        background: grey; // replace or edit with your styles
        color: white; // replace or edit with your styles
        width: 0; // If Javascript is active then reset all percent widths in graph to zero

		.active &,
		.no-js & {
			// if js is working then an active state will apply when visually in the
			// viewport, when that happens the with will animate to this size
			// If you want to only active once change "active" to just "actived-once"
			// If JS is not loading then it will fall back to this width
			&.one {
				width: 10%;
			}

			&.two {
				width: 20%;
			}

			&.three {
				width: 30%;
			}

			&.four {
				width: 40%;
			}

			&.five {
				width: 50%;
			}

			&.six {
				width: 60%;
			}

			&.seven {
				width: 70%;
			}

			&.eight {
				width: 80%;
			}

			&.nine {
				width: 90%;
			}

			&.ten {
				width: 100%;
			}
		}
    }

    // Scale under graph
    &__scale { // .ajd_graph__scale
      // container for the 0 to 10 scale at the bottom of the graph
    }

    &__smallest { // .ajd_graph__smallest
      // Noramlly 0
    }

    &__largest { // .ajd_graph__largest
      // Normally 10
      float: right;
    }
    // End Scale under graph

    // Sub skills
    &__sub-skills { // .ajd_graph__sub-skills
        // parent of skills list under the graph
        @extend %list-reset;
        @include flexbox;
        @include flexbox-center;
    }

    &__sub-skill { // .ajd_graph__sub-skill
        // each subskill li
        @include flexbox-auto;
        padding: 4px;
        margin-top: 15px;
        background: grey; // replace or edit with your styles
        color: white; // replace or edit with your styles

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}








// ===========================================
// AJD Trait Cricle
// ===========================================

// AJD Trait Circle using Custom Imports Script
.trait-circle__graph {
    max-width: 300px;
    margin: 20px auto;
}

// resets tooltip
#js-ci-chart__tooltip[style*="visibility: hidden"] {
    left: 0 !important;
    top: 0 !important;
}

.trait-circle__legend {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: inline-block;
    text-align: left;
    max-width: 500px;
    @include flexbox;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;

    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;

    justify-content: flex-start;
}

.trait-circle__item {
    margin: 0 0 10px 0;
    position: relative;
    padding: 0 10px 0 30px;
    flex: 0 0 calc(100% / 2);

    @include breakpoint($end-small) {
        flex: 0 0 calc(100% / 3);
    }
}

.trait-circle__legend .js-ci-pie-chart__data-icon {
    position: absolute;
    margin: 0 0 0 -30px;
}

.ci-pie-chart__center-text {
    font-size: 18px;
    font-weight: bold;
}







// ===========================================
// Culture Points
// ===========================================

.ajd-culture-points {
    background: #ccc; // replace or edit with your styles
    padding: 30px;
    @include clearfix;

    &__item { // .ajd-culture-points__item
        margin: 0 0 10px 17px; // Margin left added to make sure bullet appears correctly

        @include breakpoint($end-small) {
            width: calc(50% - 17px); // Needs to match the margin left of the items
            float: left;
        }
    }
}






// ===========================================
// Career Path - this EXAMPLE code. To create a career path use https://codepen.io/Vash007/full/KKweobw
// ===========================================

.career-path {
    padding: 25px;
    text-align: center;
    margin-bottom: 25px;
    font-family: inherit;
    background-color: #FFFFFF;

    @include breakpoint(800px) {
        padding: 50px 0;
        margin: 0;
    }

    >* {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    * {
        box-sizing: border-box;
        font-family: inherit;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        font-size: 36px;
        margin-bottom: 1em;
    }

    &__intro {
        margin-bottom: 1em;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        padding-top: 4px;
    }

    // primary row that contains all secondary rows
    &__row {
        width: 100%;
        list-style: none;
        position: relative;
        margin-top: -4px;
    }

    .starting-row {
        .career-path__title-container {
            margin-top: 0;
        }
        .career-path__title-row>* {
            min-height: 0;
        }
    }

    // secondary row that contains only border segments
    &__border-row {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        &.top {
            top: 0;
        }
        &.bottom {
            bottom: 0;
        }
    }

    // secondary row that contains only job title columns
    &__title-row {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        // each column that contains a job title
        >* {
            min-height: 116px;
            position: relative;
        }
    }
    // wrapping div for job title
    &__title-container {
        color: #000;
        display: inline-block;
        position: relative;
        z-index: 1;
        margin: 24px auto 28px;
        max-width: 100%;
        background-color: #FFFFFF;
    }
    // job title
    &__title {
        display: inline-block;
        padding: 8px 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: #FFFFFF;
        color: #000000;
    }
    // arrow icon
    .career-arrow {
        display: block;
        padding: 4px;
        border-radius: 50%;
        margin: 0 auto;
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
        background-color: #035A8F;
    }
    // styles for borders
    .vertical-border {
        display: block;
        position: absolute;
        z-index: 0;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        &.top {
            top: 0;
        }
        &.bottom {
            bottom: 0;
            transform-origin: left;
            transform: rotate(180deg) translateX(-50%);
        }
        &.full-height {
            height: calc(100% + 4px);
        }
    }
    .horizontal-border {
        position: relative;
    }
    #border-pattern {
        fill: #035A8F;
    }
    .hide-border {
        visibility: hidden;
    }

    // Column widths
    // so far there are 16 different widths
    @for $i from 1 through 16 {
        .width-#{$i}>* {
            width: calc(100% / #{$i})
        }
    }

    .REMOVE_CLASS {
        width: auto;
        height: auto;
        color: red;
        font-weight: bold;
    }
}









// ===========================================
// Quote
// ===========================================

.ajd_quote {
    // entire quote section
    background: #ccc; // replace or edit with your styles
    padding: 30px 15px 15px 15px;

    &__blockquote { // .ajd_quote__blockquote
        text-align: center;
        margin: 0;
        padding: 0;

        .js & {
            opacity: 0;
            transition: opacity 1s ease;
        }

        .active & {
            // If you want to only active once change "active" to just "actived-once"
            -webkit-animation: popin 1s forwards;
            animation: popin 1s forwards;
            opacity: 1;
        }
    }

    &__text { // .ajd_quote__text
        // the actual quote itself
        position: relative;
        display: inline-block;
        line-height: 150%;

        &:after, &:before {
            // quotation marks
            position: absolute;
            opacity: 0.3;
            font-size: 100px; // replace or edit with your styles
        }

        &:before {
            // left quotation
            content: "\201C" !important;
            margin: 15px 0 0 -40px; // replace or edit with your styles
        }

        &:after {
            // right quotation
            content: "\201D" !important;
            margin: 30px 0 0 10px; // replace or edit with your styles
        }
    }

    &__citation { // ..ajd_quote__citation
        // Normally whom the wuote is from
        text-align: right;
        width: 100%;
        display: block;
    }
}









// ===========================================
// Trending
// ===========================================

.ajd_trending {

    &__ul { // .ajd_trending__ul
        @extend %list-reset;
        @include clearfix;
    }

	&__li { // ..ajd_trending__li
        @include clearfix;

        @include breakpoint($end-small) {
            // break to two columns
            width: 48%;
            float: left;

            &:nth-child(odd) {
                margin-right: 2%;
                clear: left;
            }
        }
    }

	&__a { // .ajd_trending__a
        // The hyperlink wraps the whole contents of the li
    }

	&__img { // .ajd_trending__img
        // Trending image
        max-width: 100%;
        margin: auto;
        display: block;

        .ajd_trending__li--two-col & {
            // Special styles to create the image next to the content
            @include breakpoint($mid-small) {
                width: 30%;
                float: left;
            }
        }
    }

	&__content { // .ajd_trending__content
        // wrapper next to the image

        .ajd_trending__li--two-col & {
            // Special styles to create the image next to the content
            @include breakpoint($mid-small) {
                width: 64%;
                float: right;
            }
        }
    }

	&__content-heading { // .ajd_trending__heading
        // Headline of each trending article
        margin: 0 0 10px 0; // replace or edit with your styles
    }

	&__text { // .ajd_trending__text
        // If you need spefifc stles to the text under the headline of each article
    }

    &__btn { // .ajd_trending__btn
        // normally the read more or learn more link
        .ajd_trending__a:hover &,
        .ajd_trending__a:focus & {
            // Styles so that when the trending article has been hovered over the button can light up
            background: yellow; // replace or edit with your styles
        }
    }
}







// ===========================================
// Parallax image - Featured image
// ===========================================

.ajd_image {
	// Set image as a background image in HTML
	width: 100%;
	// Create the parallax scrolling effect
	// Set a specific height
	height: 150px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}







// ===========================================
// Rewards layout
// ===========================================
.ajd_rewards {

	&__ul { // .ajd_rewards__ul
        @extend %list-reset;
        width: 100%;
        @include flexbox;
        @include flexbox-center;
    }

    &__li { // .ajd_rewards__li
        @include flexbox-auto;
        padding: 10px 20px;

        @include breakpoint($mid-small) {
            // breaks to two columns
            width: 50%;
        }

        @include breakpoint($end-small) {
            // breaks to three columns
            width: 33.33%;
        }

        .js & {
            opacity: 0;
            transition: opacity 1s ease;
        }

        &.actived-once {
            // If you want to active this ever time you change "actived-once" to just "active"
            -webkit-animation: popin 1s forwards;
            animation: popin 1s forwards;
            opacity: 1;
        }
    }

    &__ico { // .ajd_rewards__ico
        width: 140px; // replace or edit with your styles
        height: 140px; // replace or edit with your styles
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
    }
}





// ===========================================
// ATS Job Description
// ===========================================
.ajd_job-details {
    // Responsiblities section
    &__ats-description { // .ajd_job-details__ats-description
        // by default there is already styles that hit .ats-description
        // this is just another way to target that section but only for AJD pages
    }
}


// END  Advanced Job Details (AJD) Template
