#job-matching-results {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include breakpoint($end-small) {
			float: left;
		}
	}
	h2 {
		margin: 0;
	}
	a {
		display: block;
		padding: .5em 0;
	}
}