#filter-slideout-toggle {
	background: $primary;
	border-radius: 4px 1px 1px 4px;
	float: right;
	font-size: 1rem;
	height: 1em;
	margin: 1em 25px 1em 0;
	overflow: visible;
	position: relative;
	text-shadow: none;
	@include breakpoint($end_small) {
		display: none;
	}
	&:hover, &:focus {
		background: lighten($primary, 10%);
		&:after {
			border-color: transparent transparent transparent lighten($primary, 10%);
		}
	}
	&:after {
		border-color: transparent transparent transparent $primary;
		border-style: solid;
		border-width: .875em;
		content: "";
		display: block;
		height: 0;
		position: absolute;
		right: 2*-.875em;
		top: 0;
		width: 0;
	}
}

@include slideout-filter-panel($end_small, "page", 200ms);

#search-filters {
	.js & {
		> div {
			background: $grey_lt;
			@include breakpoint($end_small) {
				border-radius: 0 0 5px 5px;
				width: 90%;
			}
		}
		&.open {
			box-shadow: -2px 2px 10px 0 rgba(0,0,0,.3);
			h2 {
				visibility: hidden;
			}
		}
		@include breakpoint($end_small){
			float: left;
			width: 30%;
			> div {
				box-shadow: none;
			}
		}
	}
	div {
		overflow: hidden;
	}
	h2 {
		font-size: 1.25em;
		margin: 10px 10px 15px;
		@include breakpoint($end_small) {
			background: $grey_dk;
			border-radius: 5px 5px 0 0;
			border-bottom: 10px solid $grey_lt;
			color: #fff;
			display: block;
			font-weight: normal;
			line-height: 175%;
			margin: 0;
			padding: 2px 15px;
		}
	}
	section {
		@include breakpoint($end_small) {
			background: $grey_lt;
			padding: 0 10px;
		}
	}
	#filter-distance {
		padding: 10px;
		@include breakpoint($end_small) {
			padding-top: 0;
		}
		label {
			display: block;
			@include breakpoint($mid_small) {
				display: inline-block;
				margin-right: 5px;
			}
		}
		select {
			@extend %borderbox;
			border: 1px solid $primary;
			border-radius: 3px;
			box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
			display: block;
			padding: 3px;
			width: 100%;
			&:hover, &:focus {
				border-color: $primary_dk;
				box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4) inset;
			}
			@include breakpoint($mid_small) {
				display: inline-block;
				min-width: 200px;
				width: auto;
			}
			@include breakpoint($end_small) {
				display: block;
				min-width: 0;
				width: 100%;
			}
		}
	}
	section[data-expandable] {
		> a {
			@extend %expandable-smallscreen;

			@include breakpoint($end_small) {
				@include expandable-largescreen;
				background: $grey_lt;
				border: 0;
				color: $grey_dk;
				font-size: 1em;
				padding: 0;
				.js & {
					line-height: 1.65em;
					padding: 2px 5px;
					&:hover, &:focus {
						border: 0;
					}
					&:before {
						top: .3em;
					}
					&.expandable-child-open:before {
						@include transform(rotate(90deg) translateX(2px) translateY(0px));
					}
				}
			}
		}
	}
	section[data-expandable="false"] {
		.js & {
			> a {
				&:before {
					display: none;
				}
			}
			.search-filter-list {
				display: block;
			}
		}
	}
	.search-filter-list {
		@extend %borderbox;
		list-style: none;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 5px;
		@include breakpoint($end_small) {
			max-height: 200px;
			padding: 0;
		}
		label {
			@extend %borderbox;
			border-radius: 3px;
			cursor: pointer;
			display: block;
			font-size: 1em;
			line-height: 1.25em;
			padding: .5em 35px .5em 10px;
			b {
				font-weight: normal;
			}
			@include breakpoint($end_small) {
				margin-left: 15px;
				padding: .3em 35px .3em 5px;
			}
		}
		input[type="checkbox"] {
			clear: right;
			float: right;
			margin: .67em 10px 0 0;
			@include breakpoint($end_small) {
				margin-top: .5em;
			}
			
			&:hover + label, &:focus + label {
				background: #ddd; 
			}
			&:checked + label {
				background: $primary;
				color: #fff;
			}
			&:focus:checked + label, &:hover:checked + label {
				background: lighten($primary, 8%);
			}
		}
		
		.js & {
			display: none;
			&.expandable-childlist-open {
				display: block;
			}
		}
	}
	input[type="button"], input[type="submit"] {
		@extend %borderbox;
		display: inline-block;
		margin: .5em;
		width: 40%;
		@include breakpoint($mid_small) {
			min-width: 6rem;
			width: auto;
		}
		@include breakpoint($end_small) {
			margin: .5em 10px 10px;
			min-width: 0;
		}
	}	
	
	#search-filter-apply {
		@include breakpoint($end_small) {
			display: none;
		}
	}
	#no-filters {
		padding: 15px;
		@include breakpoint($end_small) {
			padding: 0 15px;
		}
	}
}

#search-filter-close {
	background: $grey_lt;
	border: 0;
	@extend %borderbox;
	color: #fff;
	cursor: pointer;
	display: block;
	padding: 10px;
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 4;
	&:after {
		background: none;
		display: block;
		position: absolute;
	}
	&:hover, &:focus {
		span {
			background: lighten($primary, 10%);
			&:before {
				border-color: transparent lighten($primary, 10%) transparent transparent;
			}
		}
	}
	&:active {
		span {
			box-shadow: inset -2px 2px 5px 0 rgba(0,0,0,.3);
		}
	}
	.open & {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
		&.fixed {
			position: fixed;
		}
	}
	span {
		@extend %borderbox;
		background: $primary;
		border-radius: 1px 4px 4px 1px;
		display: inline-block;
		font-size: 1rem;
		line-height: 1.4rem;
		margin-left: 10px;
		padding: 3px 10px;
		position: relative;
		&:before {
			border-color: transparent $primary transparent transparent;
			border-style: solid;
			border-width: .875rem;
			content: "";
			display: block;
			height: 0;
			position: absolute;
			left: -2 * .875rem;
			top: 0;
			width: 0;
		}
	}
	@include breakpoint($end_small){
		display: none;
	}
}

#search-filter-controls {
	text-align: center;
	@include breakpoint($end_small) {
		background: $grey_lt;
		border-radius: 0 0 5px 5px;
		text-align: right;
	}
}
