/* =================================================================
search results
================================================================= */
#search-results {
	clear: right;
	@include breakpoint($mid_small) {
		margin: 0 -15px;
	}
	@include breakpoint($end_small) {
		margin: 0;
	}
}

/* =================================================================
result list
================================================================= */
#search-results-list {
	clear: both;
	width: 100%;
	.js & {
		@include breakpoint($end_small) {
			float: right;
			width: 70%;
		}
	}
	.no-results &, [data-no-results="true"] {
		float: none;
		width: 100%;
	}
	&.loading {
		opacity: .3;
		overflow: hidden;
		position: relative;
		&:after {
			background: inline-image("client/loading-stripe.png") repeat;
			bottom: 0;
			content: "";
			display: block;
			left: 0;
			opacity: .6;
			position: absolute;
			right: 0;
			top: 0;
			@include private-animation(loading-background 15s infinite);
			z-index: 5;
			@include breakpoint($end_small) {
				border-radius: 5px;
			}
		}
	}
	> ul {
		background: $grey_lt;
		list-style: none;
		margin: 0;
		@include breakpoint($end_small) {
			border-radius: 5px;
			margin: 0;
			overflow: hidden;
		}
		h2 {
			font-size: 1.25em;
			font-weight: normal;
			line-height: 1.25em;
			margin: 0 0 .125em 0;
		}
		li {
			clear: both;
			&:nth-child(even) {
				background: darken($grey_lt, 5%);
			}
		}
		a {
			display: block;
			line-height: 1.167rem;
			overflow: hidden;
			padding: 10px 15px;
			&:hover, &:focus {
				background: $primary;
				color: #fff;
				text-decoration: none;
			}
			span {
				display: block;		
				font-size: .92em;
			}
		}
	}
}

/* =================================================================
applied facets and suggested searches
================================================================= */
.search-results-options {
	background: rgba($primary, 0.15);
	clear: both;
	margin: 0 0 1em;
	padding: 15px;
	@include breakpoint($end_small) {
		border-radius: 5px;
	}
	h2 {
		color: $primary_dk;
		font-size: 1rem;
		margin: 0 0 0 0;
		@include breakpoint($end_small) {
			font-size: .92rem;
			margin-bottom: .25em;
		}
	}
	ul {
		margin: 0;
		outline: 0;
		@include breakpoint($end_small) {
			margin: 0;
		}
		li {
			background: none;
			display: inline-block;
			list-style: none;
		}
	}
}

#suggested-search {
	h2, ul, li {
		display: inline-block;
	}
	h2 {
		margin-right: 1rem;
	}
	li {
		margin-right: 2rem;
	}
	a {
		color: $primary;
		font-size: 1rem;
	}
}

#applied-filters {
	display: none;
	h2 {
		&:after {
			content: ":";
		}
	}
	li {
		line-height: 2.5em;
		margin-right: 5px;
	}
	.filter-button {
		@extend %buttonbase;
		background: $primary;
		line-height: 1.25em;
		min-height: 0;
		padding: 5px 30px 5px 10px;
		position: relative;
		&:hover, &:focus {
			background: #666;
			color: rgba(255,255,255,.5);
			&:after {
				color: #fff;
				opacity: 1;
			}
		}
		&:after {
			border-radius: 10px;
			content: "+";
			display: inline-block;
			font: normal 24px/12px Arial, sans-serif;
			margin:-2px 0 0 10px;
			opacity: .5;
			padding: 4px;
			position: absolute;
			right: 4px;
			text-shadow: none;
			text-transform: lowercase;
			top: 7px;
			-webkit-backface-visibility: hidden;
			@include transform(rotate(45deg), translateZ(0));
		}
	}
}

/* =================================================================
pagination
================================================================= */
#pagination-top, #pagination-bottom {
	margin: .5em 0 0;
	overflow: hidden;
	padding: 5px 15px;
	text-align: center;
	.pagination-current-label {
		b {
			@extend .wai;
		}
	}
	.pagination-page-count {
		margin-bottom: .5em;
		@include breakpoint($mid_small) {
			float: left;
		}
	}
	.pagination-paging {
		&:after {
			clear: both;
			content: "";
			display: block;
		}
		@include breakpoint($mid_small) {
			float: right;
		}
	}
	.pagination-total-pages {
		display: inline-block;
		margin: 0;
	}
	.pagination-all {
		clear: both;
		display: none;
		margin: .5em auto;
		text-align: center;
		.js & {
			display: block;
		}
		@include breakpoint($mid_small) {
			clear: none;
			float: left;
			margin: 0 0 0 1em;
		}
		a {
			background: $primary;
			color: #fff;
			display: inline-block;
			line-height: 1.5em;
			padding: 2px 1em;
			@include breakpoint($mid_small) {
				margin-top: -1px;
				min-height: 1.75em;
			}
		}
	}
	input[type="number"] {
		border: 0;
		color: $primary;
		display: inline-block;
		font-size: 1.08em;
		font-weight: bold;
		line-height: 1.25em;
		margin: 0 5px;
		padding: 2px;
		text-align: right;
		vertical-align: top;
		width: 1.5em;
		-webkit-appearance: none;
		-moz-appearance: textfield;
		.js & {
			border: 1px solid $primary;
			border-radius: 5px;
			box-shadow: inset 1px 1px 1px 0 rgba($primary, .4);
			font-size: 1em;
			font-weight: normal;
			padding: 3px;
			&:focus, &:active {
				border-color: lighten($primary, 10%);
				box-shadow: inset 1px 1px 1px 0 rgba($primary, .2);
			}
		}
		&:hover, &:focus, &:active {
			outline: 0;
			-webkit-appearance: none;
			-moz-appearance: textfield;
		}
	}
	ul {
		@extend %borderbox;
		display: inline-block;
		line-height: 2em;
		list-style: none;
		margin: 0 0 .5em;
		text-align: center;
		width: 100%;
		@include breakpoint($mid_small) {
			margin: 0;
			width: auto;
		}
		@include breakpoint($end_small) {
			a {
				color: $primary;
				&.current, &:hover, &:focus, &.next {
					color: #fff;
				}
			}
		}
	}
	
	li {
		display: inline-block;
	}
	
	a {
		@extend %borderbox;
		border: 0;
		border-radius: 3px;
		color: $primary;
		display: block;
		overflow: visible;
		padding: 0 15px;
		@include breakpoint($end_small) {
			border: 0;
			color: #fff;
			padding: 0 7px;
		}
		&:hover, &:focus {
			background: lighten($primary,10%);
			color: #fff;
			text-decoration: none;
			@include breakpoint($end_small) {
				border: 0;
			}
		}
		&.current {
			background: $primary;
			color: #fff;
			cursor: default;
			@include breakpoint($end_small) {
				border: 0;
			}
		}
		&.next, &.prev {
			background: $primary;
			color: #fff;
			display: inline-block;
			line-height: 1.5em;
			margin: 0 15px;
			min-width: 90px;
			padding: 2px .5em;
			position: relative;
			text-align: center;
			width: auto;
			@include breakpoint($mid_small) {
				margin: 0 10px;
				min-height: 1.75em;
			}
			&:before {
				border-radius: 0;
				border-style: solid;
				border-width: .875em;
				content: "";
				height: 0;
				position: absolute;
				top: 0;
				width: 0;
				z-index: 1;
			}
			&:hover, &:focus {
				background: lighten($primary,10%);
			}
			&.disabled {
				visibility: hidden;
			}
		}
		&.next {
			border-radius: 3px 0 0 3px;
			float: right;
			&:active {
				box-shadow: inset 2px 1px 4px 0 rgba(0,0,0,.3);
			}
			&:before {
				border-color: transparent transparent transparent $primary;
				right: -1.725em;
			}
			&:hover, &:focus {
				border-right: none;
				&:before {
					border-color: transparent transparent transparent lighten($primary,10%);
				}
			}
		}
		&.prev {
			border-radius: 0 3px 3px 0;
			float: left;
			&:before {
				border-color: transparent $primary transparent transparent;
				left: -1.71em;
			}
			&:hover, &:focus {
				border-left: none;
				&:before {
					border-color: transparent lighten($primary,10%) transparent transparent;
				}
			}
		}
		b {
			@extend %wai;
		}
	}
}

.pagination-page-jump {
	display: none;
	.js & {
		display: inline-block;
	}
	margin-left: 5px;
	padding: 0 7px;
	&:hover, &:focus {
		border-color: transparent transparent transparent lighten($primary,10%);
	}
	&[disabled="disabled"] {
		opacity: .5;
	}
	@include breakpoint($mid_small) {
		position: relative;
		top: -.075em;
	}
}

/* =================================================================
"sort by" dropdown
================================================================= */
#search-results-sort {
	@extend %borderbox;
	margin: 0 auto 1em;
	padding: 0 15px;
	width: 100%;
	label, select {
		@extend %borderbox;
		display: block;
		width: 100%;
	}
	select {
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 2px;
		&:focus {
			box-shadow: 0 0 2px 0 #035a8f;
			outline: none;
		}
	}
	@include breakpoint($mid_small) {
		float: right;
		margin-bottom: .5em;
		width: auto;
		label, select {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
		label {
			margin-right: .25em;
		}
		select {
			padding: 0;
			min-width: 150px;
		}
	}
	@include breakpoint($end_small) {
		line-height: 1.45em;
		margin: 1rem 0;
		padding: 0;
		width: auto;
	}
}

/* =================================================================
alerts/errors
================================================================= */
#no-results {
	clear: both;
	padding: 0 15px;
	@include breakpoint($end_small) {
		padding: 0;
	}
	h2 {
		line-height: 1.25em;
	}
}

#search-ajax-error {
	background: $primary inline-image("core/icons/fail.png") no-repeat 15px 15px;
	color: #fff;
	font-size: 1rem;
	line-height: 1.25em;
	padding: 15px 15px 15px 50px;
	@include breakpoint($end_small) { 
		border-radius: 5px;
	}
}