<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://services.tmpwebeng.com/tmp-styleguide/theme/waves/css/global.css"/>
	<title>{{ page.title }} - TMP Worldwide</title>
</head>

<body id="tmp-pattern-library">

	<div class="page">

		<header id="top" class="banner">

			<h1><a href="https://www.tmp.com/"><img src="https://services.tmpwebeng.com/tmp-styleguide/theme/waves/img/hdr-logo.svg" alt="TMP Worldwide, LLC"></a></h1>

		</header>

		<main>

			<article>

				{{ content }}

				<section id="feedback">

					<h2>Contribute</h2>

					<p><a href="https://guides.github.com/activities/forking/">Fork</a> the <a href="https://github.com/tmpworldwide/tmp-pattern-library">tmp-pattern-library</a> project, make some changes, and <a href="https://guides.github.com/activities/forking/#making-a-pull-request">create a pull request</a>.</p>

					<p>New to GitHub? <a href="https://guides.github.com/activities/hello-world/">Learn the basics with the guide</a>, and <a href="https://guides.github.com/introduction/flow/">learn the GitHub flow</a>.</p>

					<h2>Quality Assurance and Accessibility</h2>

        			<p>All patterns, functionality and layouts are tested against our <a href="https://www.tmp.com/support/">supported browsers</a>. We also look for accessibility issues via an automated scan and with other assistive technology tools and methods. TMP is committed to the accessibility of it's websites and products and seeks to meet as much of WCAG 2.0 Level A and AA as possible. If you discover any problems with our work, please <a href="https://github.com/tmpworldwide/AJD-Template/issues">open up an issue</a> and let us know about it or contact <a href="mailto:michael.spellacy@tmp.com">Michael Spellacy</a>.</p>

				</section>

			</article>

		</main>

  		<p class="back-to-top"><a href="#top">Return to top</a></p>

	</div><!--/.page-->

	<footer class="contentinfo">

	  <h2>Additional Links</h2>

	  <p>We're in advertising &mdash; of course we're an equal opportunity employer.</p>

	  <ul class="link-list">
	      <li><a href="https://www.tmp.com/connect/">Contact Us</a></li>
	      <li><a href="https://www.tmp.com/privacy/">Privacy</a></li>
	      <li><a href="https://www.tmp.com/support/">Support</a></li>
	  </ul>

	  <p>&copy; tmp.worldwide</p>

	</footer>

	<script src="/js/ga.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://services.tmpwebeng.com/tmp-styleguide/theme/waves/js/global.js"></script>

</body>
</html>